body {
    background-color: #2b2b2b; /* 3b3e3f */
    color: #f2f2f2;
}

.infobox {
    border: 1px solid #f2f2f2;
    border-spacing: 3px;
    background-color: #1a1a1a;
    color: #f2f2f2;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox caption {
    font-size: 200%;
    font-weight: bold;
    padding: 0.2em;
    text-align: center;
}

.topnav {
    overflow: hidden;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #1a1a1a;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.topnav .title {
    float: left;
    color: #da4939;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: Sans-serif;
    vertical-align: bottom;
}

.topnav .text {
    float: right;
    color: #ffc66d;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: Sans-serif;
    vertical-align: bottom;
}

.topnav .githubLogo {
    float: right;
    color: #f2f2f2;
    padding: 3px 5px 5px 5px;
    display: inline;
    text-decoration: none;
    font-size: large;
    vertical-align: bottom;
}

.topnav .youtubeLogo {
    float: right;
    color: #f2f2f2;
    padding: 4px 5px 5px 5px;
    display: inline;
    text-decoration: none;
    font-size: large;
    vertical-align: bottom;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #1a1a1a;
}

h2 {
    text-align: left;
    border-bottom: 1px solid #1a1a1a;
}
